{%  extends "layout.html" %}
{% block content %}
  <div class="bounds circle--page">
    <div class="circle--page--header circle--fluid">
      <div class="circle--fluid--cell circle--fluid--primary">
        <h2>Projects</h2>
      </div>
      <div class="circle--fluid--cell circle--fluid--secondary">
        <a class="button button-primary icon-on-left" href="{% url 'projects:create-project' %}">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 13 13" style="enable-background:new 0 0 13 13;" xml:space="preserve" class="add">
            <polygon points="7,6 7,0 6,0 6,6 0,6 0,7 6,7 6,13 7,13 7,7 13,7 13,6 "/>
          </svg>
          New Project
        </a>
      </div>
    </div>

    <div class="grid-25">
      <div class="circle--filter circle--secondary--module">
        <h4>Project Needs</h4>
        <ul class="circle--filter--list">
          <li><a {% if not selected %}class="selected" {% endif %} href="{% url 'home' %}">All Needs</a></li>
          {% for position in positions %}
            <li><a {% if selected == position.title %} class="selected" {% endif %} href="{% url 'projects:filter' pk=position.pk %}">{{ position.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="grid-70 grid-push-5">
      {% if not active_projects and not past_projects %}
        <p>Your search finished with no results.</p>
      {% else %}
          {% if active_projects %}
          <h2>Active Projects</h2>
          <table class="u-full-width circle--table">
            <thead>
              <tr>
                <th>Project Title</th>
                <th class="circle--cell--right">Project Needs</th>
              </tr>
            </thead>
            <tbody>
              {% for project in active_projects %}
              <tr class="clickable-row" data-href="{% url 'projects:view-project' pk=project.pk %}">
                <td>
                  <h3>{{ project.title }}</h3>
                </td>
                <td class="circle--cell--right">
                  {% for position in project.positions.all %}
                  <span class="secondary-label">{{ position.title }}</span>
                  {% endfor %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% endif %}

          {% if past_projects %}
          <h2>Past Projects</h2>
          <table class="u-full-width circle--table">
            <thead>
              <tr>
                <th>Project Title</th>
                <th class="circle--cell--right">Project Needs</th>
              </tr>
            </thead>
            <tbody>
              {% for project in past_projects %}
              <tr class="clickable-row" data-href="{% url 'projects:view-project' pk=project.pk %}">
                <td>
                  <h3>{{ project.title }}</h3>
                </td>
                <td class="circle--cell--right">
                  {% for position in project.positions.all %}
                  <span class="secondary-label">{{ position.title }}</span>
                  {% endfor %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% endif %}
      {% endif %}
    </div>
  </div>
{% endblock %}
