{% extends "layout.html" %}
{% load static from staticfiles %}

{% block content %}
  <div class="circle--actions--bar">
    <nav class="bounds">
      <ul class="circle--pill--list">
        <li><a class="selected" href="{% url 'projects:applications' %}">Applications</a></li>
        <li><a href="{% url 'profiles:view-profile' pk=user.profile.pk %}">Profile</a></li>
        {% if user.is_authenticated and user == user.profile.user %}
            <li><a href="{% url 'profiles:notifications' %}">Notifications</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>

  <div class="bounds circle--page">
    <div class="circle--page--header grid-100">
      <h2>Applications</h2>
    </div>

    <div class="grid-25">
      <div class="circle--filter circle--secondary--module">
        <h4>Status</h4>
        <ul class="circle--filter--list">
          <li><a {% if status_filter == 'all' %}class="selected" {% endif %} href="{% url 'projects:status-filter' status='all' project_pk=project_filter position_pk=position_filter %}">All Applications</a></li>
          <li><a {% if status_filter == 'new' %}class="selected" {% endif %} href="{% url 'projects:status-filter' status='new' project_pk=project_filter position_pk=position_filter %}">New Applications</a></li>
          <li><a {% if status_filter == 'accepted' %}class="selected" {% endif %} href="{% url 'projects:status-filter' status='accepted' project_pk=project_filter position_pk=position_filter %}">Accepted</a></li>
          <li><a {% if status_filter == 'rejected' %}class="selected" {% endif %} href="{% url 'projects:status-filter' status='rejected' project_pk=project_filter position_pk=position_filter %}">Rejected</a></li>
        </ul>
      </div>

      <div class="circle--filter circle--secondary--module">
        <h4>My Projects</h4>
        <ul class="circle--filter--list">
          <li><a {% if project_filter == 0 %}class="selected" {% endif %} href="{% url 'projects:status-filter' status=status_filter project_pk=0 position_pk=position_filter %}">All Projects</a></li>
          {% for project in projects %}
          <li><a {% if project_filter == project.pk %}class="selected" {% endif %} href="{% url 'projects:status-filter' status=status_filter project_pk=project.pk position_pk=position_filter %}">{{ project.title }}</a></li>
          {% endfor %}
        </ul>
      </div>

      <div class="circle--filter circle--secondary--module">
        <h4>Project Needs</h4>
        <ul class="circle--filter--list">
          <li><a {% if position_filter == 0 %} class="selected" {% endif %}  href="{% url 'projects:status-filter' status=status_filter project_pk=project_filter position_pk=0 %}">All Needs</a></li>
          {% for position in positions %}
            <li><a {% if position_filter == position.pk %} class="selected" {% endif %} href="{% url 'projects:status-filter' status=status_filter project_pk=project_filter position_pk=position.pk %}">{{ position.title }}</a></li>
          {% endfor %}
        </ul>
      </div>

    </div>

    <div class="grid-70 grid-push-5">
      {% if not applications %}
        <p>There are no applications to show</p>
      {% else %}
      <table class="u-full-width circle--table">
        <thead>
          <tr>
            <th>Applicant</th>
            <th class="circle--cell--right">Applicant Position</th>
            <th style="text-align:center">Applicant Status</th>
          </tr>
        </thead>
        <tbody>
          {% for application in applications %}
          <tr>
            <td class="clickable-row" >
              <a style="text-decoration: none" href="{% url 'profiles:view-profile' pk=application.applicant.profile.pk %}">
                <h3>{{ application.applicant.profile.display_name }}</h3>
                  <p><a style="text-decoration: none" href="{% url 'projects:view-project' pk=application.position.related_project.pk %}">{{ application.position.related_project.title }}</a></p>
              </a>
            </td>
            <td class="circle--cell--right">
              <span class="secondary-label">{{ application.position.title }}</span>
            </td>
            {% if application.accepted %}
              <td style="text-align: center">
                <span class="secondary-label">Acepted</span>
              </td>
            {% elif application.rejected %}
              <td style="text-align: center">
                <span class="secondary-label">Rejected</span>
              </td>
            {% else %}
                <td style="text-align: center">
                    <a href="{% url 'projects:application-status' pk=application.pk status='accept' %}"><button class="button-text">Accept</button></a>
                    <a href="{% url 'projects:application-status' pk=application.pk status='reject' %}"><button class="button-text">Reject</button></a>
                </td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
    </div>

  </div>
{% endblock %}