{% extends "layout.html" %}
{% load static from staticfiles %}

{% block content %}
<form method="POST">
  {% csrf_token %}
  <div class="circle--actions--bar">
    <div class="bounds">
      <div class="grid-100">
        <span class="circle--article--section--span">Are you sure you want to delete it?</span>
        <button class="button">Delete</button>
        <a class="button button-text" href="{% url 'projects:view-project' pk=project.pk %}">Cancel</a>
      </div>
    </div>
  </div>
<div class="bounds circle--page circle--article">
  <div class="grid-70">
      <div class="circle--article--header">
        <h4 class="circle--article--section">Project</h4>
        <h1 class="circle--article--title">{{ project.title }}</h1>
        <p class="circle--article--byline">Project Owner: <a>{{ project.owner.profile.display_name }}</a></p>
      </div>

      <div class="circle--article--body">
        {{ project.description }}
      </div>

        <div class="circle--project--positions">
        <h2>Positions</h2>

        <ul class="circle--group--list">
          {% for position in project.positions.all %}
          <li>
            <h3>{{ position.title }}</h3>
            <p>{{ position.description }}</p>
            <a class="button button-primary">Apply</a>
          </li>
          {% endfor %}
        </ul>
      </div>


    </div>
  <div class="grid-25 grid-push-5">
      <div class="circle--secondary--module">
        <h3>Project Needs</h3>
        <ul class="circle--link--list">
          <li><a>iOS Developer</a></li>
          <li><a>Designer</a></li>
        </ul>
      </div>

      <div class="circle--secondary--module">
        <h3>Project Timeline</h3>
        <p>{{ project.timeline }}</p>
      </div>

      <div class="circle--secondary--module">
        <h3>Applicant Requirements</h3>
        <p>{{ project.requirements }}</p>
      </div>

    </div>
  </div>
</form>
{% endblock %}